<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='form.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Poppins:ital,wght@1,100&family=Sora:wght@100..800&family=Tektur&display=swap" rel="stylesheet">
    <title>Recommender</title>
</head>
<body>
    <h1>MEDIA RECOMMENDER</h1>
    <div class="movies">
        
        <form method="post" action="/rec">
            <input type="text" id="user_input" name="user_input" placeholder="Your Favorite Movie or TV Show" required >
            <button type="submit" >GO</button>
        </form>
    </div>
    <div class="images">
        {% for i in range(4) %}
        <div class="image">
            <a href="info/{{names[i]}}"><img src="{{images[i]}}"></a>
    </div>
    {% endfor %}
    <p id="sign">Made with 💗 by Vedant</p>
</body>
</html>

